<link rel="stylesheet" href="../css/pool-party.css">

<div class="pool-party">
    <center>
        <img src="img/pool-party-title.png" class="pool-party-image" />
        <br />
        <div class="info">
            Join us for a pool party with food, drinks and a performance by ASU's Sun Devil DJ Club!
        </div>
        <br />
        <!-- <div id="countdown"></div> -->
        <div class="details">
            <p>Friday, October 1st, 2021</p>
            <p>8 PM - 10 PM</p>
            <p>SDFC Pool, Tempe</p>
        </div>
        <br />
        <a href="https://www.eventbrite.com/e/sun-devil-pool-party-tickets-168234673437" target="_blank">
            <div class="button button_highlighted">Click here to register!</div>
        </a>
    </center>
</div>